@import "variables";



#nav-container {
  display: block;
  position: center;
  text-align: center !important;

}

#main-logo {
  max-width: 50vw;
}

@media (min-width: 992px) and (max-width: 1040px) {
  .collapse {
    display: none !important;
  }
}

@media (min-width: 600px ) {
    #main-logo {
      max-width: 25vw;
    }
    #top-menu {
      text-align: center;
      a {

        font-size: 1.1rem;
        font-family: 'Wolf-Sans', sans-serif;
        font-weight: 600;
        padding-left: 1vw;
        &:hover {
          text-decoration: none;
          color: black;
        }
      }
    }

}

@media (min-width: 992px) and (max-width: 1190px){
  #menu-top-menu{
    a {
      font-size: 0.8rem;

    }
  }

}

@media (min-width: 1191px ) {
  #top-menu {
    a {

      font-size: 1rem;
      font-family: 'Wolf-Sans', sans-serif;
      font-weight: 600;
      padding-left: 1vw;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

}

@media (max-width: 599px) {
  #top-menu {
    a {

      font-weight: 600;
      font-family: $themefont;

      &:hover {
        text-decoration: none;

      }
    }
  }
}


#social-icons{
  a i, h5 a {
    color: $themeblue;
    &:hover {
      text-decoration: none;
    }
  }
  a i {
    margin-left: 10px;
  }
}




.container #header-logo {
  margin: 0 auto;
  margin-top: 10px;
}

img #main-logo {
  position: center;
}

@media (max-width: 1000px) {
  .header__module {
    .contact-info {
      h6 {
        display: none;
      }
    }
  }
}

.header__module {
  .contact-info {
    padding-right: 10px;
    padding-top: 10px;
    h6 {
      color: $themeblue;
      font-family: 'Wolf-Sans', sans-serif;
      font-weight: 600;
      font-size: 1.1rem;
    }
    #email, #phone {
      &:hover {
        text-decoration: none;
      }
    }
  }
}














