@import "variables";

.container #nav-container {
  display: block;
  position: center;
}

#main-logo {
  max-width: 50vw;
}



@media (min-width: 600px ) {
    #main-logo {
      max-width: 25vw;
    }
    #top-menu {
      a {
        color: $themeblue;
        font-size: 20px;
        font-family: $themefont;
        font-weight: 600;
        padding-left: 1vw;
        &:hover {
          text-decoration: none;
          color: black;
        }
      }
    }

}

@media (min-width: 1100px ) {
  #top-menu {
    a {
      color: $themeblue;
      font-size: 20px;
      font-family: $themefont;
      font-weight: 600;
      padding-left: 2vw;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

}

@media (max-width: 599px) {
  #top-menu {
    a {
      color: $themeblue;
      font-weight: 600;
      font-family: $themefont;

      &:hover {
        text-decoration: none;
        color: $themeblue;
      }
    }
  }
}


#social-icons{
  a i, h5 a {
    color: $themeblue;
    &:hover {
      text-decoration: none;
    }
  }
  a i {
    margin-left: 10px;
  }
}




.container #header-logo {
  margin: 0 auto;
  margin-top: 10px;
}

img #main-logo {
  position: center;
}

@media (max-width: 1000px) {
  .header__module {
    .contact-info {
      h6 {
        display: none;
      }
    }
  }
}

.header__module {
  .contact-info {
    padding-right: 10px;
    padding-top: 10px;
    h6 {
      color: $themeblue;
      font-family: $themefont;
      font-weight: 600;
      font-size: 20px;
    }
    #email, #phone {
      &:hover {
        text-decoration: none;
      }
    }
  }
}













