@import "variables";
.test__module {
  background: $primary;
  padding: 100px;
  min-height: 200px;
}
.container-fluid {
  padding: 0 !important;
}

.customer-section {
  width: 100%;
  margin: 0px;
  padding: 0px;
  .img-fluid .main-image {
    width: 300px !important;
    display: block;
    padding: 0;
  }
  .fit-image{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .container-fluid #thumbnail-box{
    position: relative;
  }
  .text-block {

    position: absolute;
    //top: 20px;
    //left: 20px;
    background-color: $textoverlaybg;
    color: $textoverlay;
    padding-right: 20px;
    padding-left: 20px;
  }

}



.gallery {
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;

  }

}



