@import "variables";

footer {

  h5 {
    font-family: $themefont;
    font-size: 20px;
    font-weight: 600;
  }
  a i, h5 a {
    color: $themeblue;
    &:hover {
      text-decoration: none;
    }
  }
  a i {
    margin-left: 10px;
  }
}
#social-icons {
  margin-right: 20px;
}





